body {
    background-color: #F4F4F4;
}
p, h1, .quote {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
.navbar {
    height: 6%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    z-index: 1;
}
.navbar > img {
    height: 69%;
}
.navbar-links {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 1em;
}
.navbar-link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.cover {
    margin-top: 6%;
    position: relative;
}
.cover-background {
    width: 100%;
}
.cover-logo-container {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 40%;
    aspect-ratio: 1 / 1;
    padding: 2em;
    border-radius: 100%;
    border: 0.5em solid white;
}
.cover-logo{
    height: 100%;
}
.content {
    padding: 1em;
}
.quote {
    font-size: 2em;
    margin-left: 2em;
    padding-left: 2em;
    border-left: 10px black double;
}
.fact-checks {
    padding: 0 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: start;
    margin-bottom: 10em;
}
.fact-check {
    box-shadow: #00000069 0 0 7px;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    width: 17em;
}
.fact-check > .fake, .fact-check > .real {
    position: absolute;
    top: -10px;
    left: -10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}
.fact-check>.fake {
    background-color: red;
}
.fact-check>.real {
    background-color: green;
}
.photo-grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(200px, 15em) ;
    gap: 20px;
    position: relative;
}
.photo-grid-element {
    grid-area: 1px;
}
.photo-grid-element > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#grid-photo-1{
    grid-row: 3 span;
}
#double-col {
   grid-column: 2 span;
}
.contents{
    max-width: 1280px;
    margin: 0 auto;
}
.footer {
    background-color: black;
    width: 100%;
    margin-top: 10em;
    margin-bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
}
.footer > p {
    margin: 0;
    color:white
}